@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  font-family: 'Dosis', 'Oxygen', sans-serif;
  background-color: black;
}

nav {
  box-shadow: none;
}

.section.header {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #fafafa, #5a5a5a 100%);
    background-attachment: fixed;
}

.section.about {
    background-color: #4caf50;
    background-image: linear-gradient(to bottom, #fafafa, #4caf50 100%);
    background-attachment: fixed;
}

.section.connect {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #fafafa, #315481 100%);
    background-attachment: fixed;
}

.section.projects {
    background-color: #fef481;
    background-image: linear-gradient(to bottom, #fafafa, #fef481 100%);
    background-attachment: fixed;
}

h1 {
  width: 100%;
  font-size: 6em;
}
.card {
    margin-top: 4em; 
}
.stylized {
  font-family: 'Gloria Hallelujah';
  background-color: black;
  width: 100%;
}

a.collection-item svg{
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out ;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

ul.collection {
    border: none !important;
}

.collection .collection-item {
    border: none !important;
    background-color: rgba(0, 0, 0, 0.0);
}

.collection-item:hover {
    border-radius: 25px;
}

a.collection-item input.url {
    width: -webkit-fill-available !important;
    visibility: hidden;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    font-family: monospace;
    height: 1.5em;
    padding: 0 1em 0 1em;
    margin-left: 20px; 
}
@media screen and (min-width: 601px) {
    a.collection-item:hover input.url{
        visibility: visible;
    }
}


a.collection-item .title{
    font-size: 1.5em !important;
    margin-left: 10px;
    font-family: Oxygen;
    color: white;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a.collection-item:hover .title {
    margin-left: 30px;
    text-decoration: underline;
    text-decoration-color: #444;
    color: #444;
}

a.collection-item.avatar svg.circle{
    background-color: white;
}

a.collection-item.avatar:hover svg.circle {
    background-color: black;
    fill: white;
}

a.collection-item.avatar:hover .circle{
    width: 64px !important;
    height: 64px !important;
}

.twitter {
    fill: #00aced;
}
.github {
    fill: #444;
}
.linkedin {
    fill: #0073a4;
}

.card-image .btn-floating:hover {
    width: 55px;
    height: 55px;
    line-height: 65px;
    transform: translateX(10px);
}

.parallax-container {
    height: 650px;
}

.rounded {
    border-radius: 25px;
}
/* #subheader:after {
    content:"";
    animation: spin 10s linear infinite;
    animation-fill-mode: forwards;
}
@keyframes spin {
    2% { content:"E "; }
    4% { content:"En"; }
    6% { content:"Eng"; }
    8% { content:"Engi"; }
    10% { content:"Engin"; }
    12% { content:"Engine"; }
    14% { content:"Enginee"; }
    16% { content:"Engineer"; }
}